body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
}
.headers {
  color: #0fa !important;
}
.route-type-post {
  color: #ffb400 !important;
}
.route-type-patch {
  color: #00b7cc !important;
}
.description.head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 0 2rem 0;
}
.description.head p {
  align-self: center;
}
.route-type-get-light {
  color: #49b168 !important;
}
.route-type-put-light {
  color: #57a2ec !important;
}
.route-type-delete {
  color: #e45c5c !important;
}
.route-type-get {
  color: #249c47 !important;
}
.route-type-put {
  color: #097bed !important;
}
.json-string-value {
  color: #ec9461 !important;
}
.json-number-value {
  color: #a3f1a7 !important;
}
.json-prop-value {
  color: #a8cfe6 !important;
}
.json-string-value-light {
  color: #cc6428 !important;
}
.json-number-value-light {
  color: #11a718 !important;
}
.json-prop-value-light {
  color: #2659e4 !important;
}
.uri-params {
  color: #dbe461 !important;
}
code,
code span {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.8rem;
}
h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  font-family: Roboto, sans-serif;
}
h2 {
  font-size: 2.4rem;
  font-family: Roboto, sans-serif;
}
.group-title {
  width: 100%;
  text-align: center;
  padding: 10rem 0 5rem 0;
  margin: 0;
}
.group-desc {
  padding: 0 0 10rem 0;
}
h3 {
  font-size: 1.8rem;
  font-family: Roboto, sans-serif;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}
* {
  font-family: Roboto-light, sans-serif;
}
#main-container {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  left: 0;
}
.header {
  color: red;
}
#api-menu {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #222642;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  padding: 0;
}
#api-menu ul {
  margin: 0;
  padding: 0 0 1vh 0;
  list-style: none;
  overflow-y: auto;
  max-height: 99vh;
  margin-left: 1vw;
  width: 14vw;
}
#api-menu ul li {
  color: #c2c2c2;
  margin: 0.5rem 0 0 0;
}
#api-menu ul .list-group {
  font-family: Roboto, sans-serif;
  margin: 1.5rem 0 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff !important;
  border-left: 3px solid #0058d7;
  padding-left: 1rem;
}
#api-menu ul li a {
  text-decoration: none;
  color: #d4d4d4;
  transition: 0.1s;
  margin: 0.5rem 0 0 1rem;
}
#api-menu ul li a:hover, #api-menu ul li.selected a {
  color: #0058d7;
}
.reference-container {
  margin-left: 15vw;
  width: 100%;
}
.reference-container .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}
.row .description,
.row .exemple {
  width: 50%;
  padding: 2rem;
}
.row .description {
  align-self: stretch;
  border-bottom: 1px solid #e6e6e6;
}
.row .description a {
  color: #25b800;
  font-family: Roboto;
}
.row .exemple {
  padding: 0;
  background: #222642;
  align-self: stretch;
}
.row .exemple pre {
  margin: 0.3rem 0;
}
.jsonExemple {
  padding: 1rem 2rem;
  background: #050b30;
}
.row .exemple * {
  color: #fff;
}
blockquote {
  border-left: 3px solid rgb(255, 216, 177);
  padding: 0.5rem 1rem;
  background-color: rgb(255, 238, 221);
}
blockquote p {
  margin: 0;
}
.description pre {
  padding: 1rem !important;
  background: #f1f1f1;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}
.exemple-low-title {
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exemple-low-title span {
  color: #8b8b8b !important;
}
.exemple-low-title span.light {
  color: #e0e0e0 !important;
}


.language-json .pln{
  color: #f09e06;
}
.language-json .str{
  color: #ae4aff;
}
.language-json .lit{
  color: #2596ff;
}
.language-json .typ{
  color: #c0b128;
}
.language-json .pun{
  color: #86806c;
}
.language-json .kwd{
  color: #ff59a5;
}

code span{  
  font-size: .935rem;
  font-family: ubuntu, monaco, Consolas;
}
.body-exemple .prettyprint{
  border-color: #b4d3ff !important;
}
.jsonExemple .prettyprint{
  border: 0 !important;
}
body::-webkit-scrollbar-track, ul::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #dddddd;
  border-radius: 10px;
  background-color: #cccccc;
}

body::-webkit-scrollbar, ul::-webkit-scrollbar
{
  width: 10px;
  background-color: #5c5c5c;
}

body::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #7e7e7e;
  background-color: #868686;
}

.api-ref-version{
  color: #8b8b8b !important;
  margin: 1rem;
  font-size: 0.85rem;
  text-align: end;
}

.head-exemple{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.group-desc *{
  text-align: center;
}